NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_SUPABASE_URL="https://kljssqtlfnfifsjmddjv.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsanNzcXRsZm5maWZzam1kZGp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NTYzMTAsImV4cCI6MjA5NzUzMjMxMH0.KqulhkfAKyQUsBTbZZC2nYertSNrDiMy8RxMWjTQb40"
